---
import BlogList from "@components/BlogList.astro";
import DiaryNav from "@components/DiaryNav.astro";
import Layout from "@layouts/Layout.astro";
import MainFlex from "@layouts/MainFlex.astro";
import Nav from "@components/Nav.astro";
import Link from "@components/Link.astro";
import directus, { getDiaryEntries } from "@lib/directus";
import { readSingleton } from "@directus/sdk";


export async function getStaticPaths() {
  let blogs = await getDiaryEntries();
  const years = [...new Set(blogs.map(blog => blog.date.getFullYear()))];
  return years.map(year => ({
    params: { year }, props: { year },
  }));
};
const { year } = Astro.props;
let blogs = await getDiaryEntries();
blogs = blogs.filter(blog => blog.date.getFullYear() === year);

const global = await directus.request(readSingleton("global"));
---

<Layout title={`karolina nocoń - ${global.diaryLinkName} - ${year}`}>
  <MainFlex class="!w-auto">
    <div>
      <Nav include={["/"]} socials={false} />
      <Link href="/diary" class="mt-4 lg:mt-0">{global.diaryLinkName}</Link>
    </div>
    <DiaryNav />
    <BlogList {blogs} year={year.toString()} />
  </MainFlex>
</Layout>
